:root {
    --ff-body: 'Chakra Petch', sans-serif;
    --clr-very-dark: #0f0f0f;
    --clr-dark: #131211;
    --clr-white: #FFFFFF;
    --clr-orange: #F68B47;
}

html {
    font-family: var(--ff-body);
    color: var(--clr-white);
}

body {
    padding: 0;
    margin: 0;
    background: var(--clr-dark);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: var(--clr-white);
    display: block;
    text-decoration: none;
    transition: color 600ms;
}

hr {
    height: 1px;
    width: 15rem;
    border: none;
    background: var(--clr-orange); 
}

a:hover {
    color: var(--clr-orange);
}

.nav-bar {
    padding: 1em;
    margin-bottom: 3em;
    background: var(--clr-very-dark);
}

.nav-bar > ul {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-icon {
    height: 50px;
}

.main-logo {
    height: 250px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-title {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 600;
}

.title {
    font-size: 4rem;
}