:root {
    --ff-body: 'Chakra Petch', sans-serif;
    --clr-black: #050401;
    --clr-white: #FFFFFF;
    --clr-orange: #F68B47;
}

html {
    font-family: var(--ff-body);
    color: var(--clr-white);
}

body {
    background: var(--clr-black);
}

a {
    color: var(--clr-white);
    display: block;
    text-decoration: none;
    transition: color 600ms;
}

a:hover {
    color: var(--clr-orange);
}

hr {
    border: none;
    height: 2px;
    background: var(--clr-orange); 
    margin: 20px 0; 
}

.container {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 5rem; 
    font-weight: 500;
}

.link-page {
    font-size: 3rem; 
    font-weight: 100;
}


.syntax-logo {
    max-width: 40%;
}
